{
  "extends": "airbnb-base",
  "env": {
    "node": true,
    "browser": true
  },
  "rules": {
    "semi": ["error", "never"],
    "import/no-dynamic-require": "off",
    "global-require": "off",
    "no-console": "off",
    "no-param-reassign": "off",
    "default-case": "off",
    "radix": "off",
    "max-len": "off",
    "linebreak-style": "off",
    "no-return-await": "off"
  },
  "ignorePatterns": "node_modules"
}
