{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "semi": ["error", "never"],
    
    "import/no-extraneous-dependencies":"off",
    
    "global-require":"off",
    
    "linebreak-style":"off",
    
    "no-console":"off",
    
    "react/button-has-type":"off",
    
    "import/no-dynamic-require":"off",
    
    "class-methods-use-this":"off",
    
    "no-param-reassign":"off",
    
  }
}
